<div class="overlay"></div>
<!-- Header bar section start -->
<div class="header-bar-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-8 d-flex align-items-center">
        <div class="site-logo">
          <a href=""><img src="../../assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-xl-6 d-none d-xl-block">
        <div class="site-menu">
          <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="">ClusterSync</a></li>
            <li><a href="">StuckView</a></li>
            <li><a href="">Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-4">
        <div class="header-top-right-user-info">
          <ul>
            <li><a href="">
<!--              <?xml version="1.0" encoding="utf-8"?>-->
              <!-- Generator: Adobe Illustrator 23.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                        <path d="M10.62,61c0.89,3.04,2.12,5.97,3.67,8.72l-4.43,5.59c-1.45,1.83-1.29,4.43,0.34,6.08l7.64,7.64
	c1.65,1.65,4.25,1.79,6.08,0.34l5.56-4.4c2.86,1.65,5.9,2.93,9.07,3.84l0.83,7.15c0.27,2.32,2.23,4.05,4.54,4.05h10.81
	c2.32,0,4.27-1.74,4.54-4.05l0.8-6.9c3.4-0.89,6.66-2.21,9.72-3.93l5.38,4.25c1.83,1.45,4.43,1.29,6.08-0.34l7.64-7.64
	c1.65-1.65,1.79-4.25,0.34-6.08l-4.18-5.3c1.74-3,3.1-6.21,4-9.56l6.44-0.74c2.32-0.27,4.05-2.23,4.05-4.54V44.38
	c0-2.32-1.74-4.27-4.05-4.54l-6.35-0.74c-0.87-3.31-2.17-6.48-3.84-9.45l3.91-4.94c1.45-1.83,1.29-4.43-0.34-6.08l-7.62-7.62
	c-1.65-1.65-4.25-1.79-6.08-0.34l-4.8,3.8c-3.11-1.83-6.44-3.22-9.94-4.16l-0.72-6.21c-0.27-2.32-2.23-4.05-4.54-4.05H44.36
	c-2.32,0-4.27,1.74-4.54,4.05l-0.72,6.21c-3.58,0.96-7,2.41-10.19,4.31l-4.98-3.95c-1.83-1.45-4.43-1.29-6.08,0.34l-7.64,7.64
	c-1.65,1.65-1.79,4.25-0.34,6.08l4.16,5.27c-1.67,3-2.93,6.21-3.76,9.54L3.6,40.29c-2.32,0.27-4.05,2.23-4.05,4.54v10.81
	c0,2.32,1.74,4.27,4.05,4.54L10.62,61z M49.77,31.77c9.85,0,17.86,8.02,17.86,17.86s-8.02,17.86-17.86,17.86
	c-9.85,0-17.86-8.02-17.86-17.86S39.93,31.77,49.77,31.77z" />
                                    </svg>
            </a></li>
            <li><a (click)="logout()" title="Logout">
<!--              <?xml version="1.0" encoding="utf-8"?>-->
              <!-- Generator: Adobe Illustrator 23.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                              fill: #1D1D1B;
                                            }

                                        </style>
                <g>
                                            <circle class="st0" cx="50" cy="21.68" r="21.68" />
                  <g>
                                                <path class="st0" d="M93.8,89.26c0-1.16-0.07-2.31-0.2-3.44v6.88C93.73,91.56,93.8,90.42,93.8,89.26z" />
                    <path class="st0" d="M91.87,100H7.84" />
                    <path class="st0" d="M93.6,92.7c-0.28,2.52-0.87,4.96-1.74,7.3" />
                    <path class="st0" d="M93.6,84.96h-0.11c0.04,0.29,0.08,0.57,0.11,0.86V84.96z" />
                    <path class="st0" d="M93.74,84.96C91.18,66.81,72.62,52.73,50.1,52.73c-24.27,0-43.95,16.35-43.95,36.52
			c0,1.65,0.13,3.28,0.39,4.87c0,0.02,0.01,0.04,0.01,0.06c0.55,3.36,3.49,5.81,6.89,5.81h73.44c3.35,0,6.2-2.42,6.75-5.73
			c0.09-0.52,0.16-1.05,0.22-1.58v-6.88C93.82,85.53,93.78,85.25,93.74,84.96z" />
                                            </g>
                                        </g>
                                    </svg>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header bar section complate -->
